ul.vendedores_ficha{
	margin: 0;padding: 0;list-style: none;

}
ul.vendedores_ficha li {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    padding: 5px;
    text-align: center;
    background-color: beige;
}
li.log_map {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.05);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
li.dos_columnas {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.05);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
div#total_colegios {
    margin-top: -37px;
    position: relative;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: red;
    padding: 10px;
    display: -webkit-inline-box;
    z-index: 3000;
    color: white;
    text-shadow: 1px 1px 3px black;
}
.space_footer{
	height: 50px;
}
.footer{
width:100%;
padding-top:11px;
height:30px;
background:rgb(245, 245, 245);
position:fixed;
bottom:0;
text-align:center;
margin:0 auto;
text-align:middle;

}
.footer>.notificacion
{
	float: right;
	margin-right: 5%;

}
#cargar_carteras{
  background: aliceblue;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.2);
}
.filtro_fecha{
  background-color: rgba(0, 105, 136, 0.06);
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu_gestion{
	padding: 0px;margin: 0px;
	list-style: none;
}
#menu_gestion li a{
	list-style: none;
	padding: 5px;
	display: block;
	background-color:gray;
	margin-bottom: 5px;
	margin-top: 5px;
	text-decoration: none;
	color:white;
}
/*FACTURA*/
.documento_factura{
    border: 1px solid #DDD;
    min-height: 550px;
    padding: 10px;
}
.numero_factura {
    border: 2px solid red;
    min-height: 150px;
    margin: 10px;
    color: red;
    width: 100%;
    float: right;
    right: 0;
}
.tipo_doc {
    font-size: 2.5em;
    text-align: center;
    padding: 50px 0 40px 0;
    font-weight: bold;
}
.rut{
    text-align: center;
    font-size: 2em;
    margin-top: 15px;
}
.numero_doc {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
}

ul.tipo_factura{
    padding: 5px;
    background-color: rgb(238, 238, 238);
    display: initial;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}
.tipo_factura>li{
    display: inline-block;
    vertical-align: top;
    margin-right: 30%;
    text-align: center;

}
input.correlativo_factura{
    border: 1px solid red;
    color: red;
    text-align: right;
    font-size: 25px;
}
#login{
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    padding: 4%;
    background-color: rgba(105, 105, 105, 0.05);
    margin-left: 40%;
    max-width: 20%;
    min-width: 250px;
    border: 1px solid rgba(105, 105, 105, 0.38);
}

#login img{
    margin:10%;
}